@model FitnessBourneV2.Models.HomeModel

@{
    ViewBag.Title = "Index";
}

<!-- reference to Leaflet CSS -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" type="text/css" href="~/Content/HomeIndex.css">

<!-- reference to Leaflet JavaScript -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="~/Scripts/HomeIndex.js"></script>

@using (Html.BeginForm("BtnAction", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div id="one" class="row" style="position: fixed; top: 0px;">
        <div class="col-md-8 col-md-offset-2" id="MotivContainer">
            <div>
                <img src="~/Image/Motiv_Image1.jpg" class="motivBlock" />
                <div class="MotivTxt" id="MotivTxtDiv1"><strong>"NOW IS THE TIME TO START LIVING THE LIFE YOU ALWAYS IMAGINED"</strong></div>
            </div>
        </div>
    </div>
    <div id="two" class="row">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <h1 id="AboutTitle">ABOUT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <span id="AboutContent">We believe good health is the cornerstone of a great life. Good health is more than just fitness and much more than conforming to a particular body image. We as a club offers you several facilities to achieve the same and enable you to organise several events with like minded people to make good healh joyfull.</span>
            </div>
        </div>
    </div>
    <div id="three" class="row">
        <div class="col-md-8 col-md-offset-2" id="MotivContainer">
            <div>
                <img src="~/Image/Motiv_Image2.jpg" class="motivBlock2" />
                <div class="MotivTxt" id="MotivTxtDiv2"><strong>"Exercise to stimulate, not to annihilate.<br />The world wasn't formed in a day, and neither were we. Set small goals and build upon them."</strong></div>
            </div>
        </div>
    </div>
    <div id="four" class="row">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <h1 id="EventTitle">Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Image/Cycling.jpg" alt="Cycling" class="eventImg" />
                <div class="col-md-1 col-md-offset-5">
                    <input type="button" onclick="location.href='@Url.Action("EventHome","Event", new { type = "Cycling"})'" value="Cycling"/>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Image/walking.jpg" alt="Walking" class="eventImg" />
                <div class="col-md-1 col-md-offset-5">
                    <input type="button" onclick="location.href='@Url.Action("EventHome","Event", new { type = "Walking"})'" value="Walking" />
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Image/running.jpg" alt="Running" class="eventImg" />
                <div class="col-md-1 col-md-offset-5">
                    <input type="button" onclick="location.href='@Url.Action("EventHome","Event",  new {type = "Running"})'"  value="Running" />
                </div>
            </div>
        </div>
        <div class="row">
            <input style="float:right; margin-right:5%;" type="button" value="Add" onclick="location.href='@Url.Action("EventAdd","Event")'" />
        </div>
        
    </div>
    <div id="five" class="row">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="MotivContainer">
                <div>
                    <img src="~/Image/Motiv_Image3.jpg" class="motivBlock2" />
                    <div class="MotivTxt" id="MotivTxtDiv3"><strong>"Fit is not a destination, it is a way of life."</strong></div>
                </div>
            </div>
        </div>
        <div class="row contactUs">
            <div class="col-md-2 col-md-offset-5">
                <h1 id="ContactTitle">Contact Us</h1>
            </div>
        </div>
        <div class="row contactUs">
            <div class="col-md-8 col-md-offset-2">
                <span><strong>Developer Team</strong></span><br />
                <span>Email Id: sjay0010@student.monash.edu</span><br /><br /><br />
                <span><strong>Admin</strong></span><br />
                <span>Email Id: sreejith2792@admin.fitnessbourne.edu</span><br />
            </div>
        </div>
    </div>
}

