body, html {
    height: 200%;
    color:white;
}

#two {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    color:black;
}

#four {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 80%;
    position: absolute;
    background-color: white;
    color: black;
}

#one, #three, #five {
    top: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 80%;
    position: absolute;
}

#two {
    top: 80%;
}

#three {
    top: 130%;
}

#four {
    top: 210%;
}

#five {
    top: 290%;
}

#six {
    top: 370%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: white;
    color: black;
}

#EventTitle {
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.eventImg {
    margin: 5%;
    width: 100%;
    height: 300px;
}

.motivBlock {
    width: 90%;
    margin-top: 10%;
    height: 500px;
}

.motivBlock2 {
    width: 90%;
    height: 600px;
}

.MotivTxt {
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#MotivContainer {
    position: relative;
    text-align: center;
    color: white;
}
