body, html {
    height: 200%;
    color:white;
}

#two {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40%;
    position: absolute;
    background-color: white;
    color:black;
}

#four {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 60%;
    position: absolute;
    background-color: white;
    color: black;
}

#one, #three {
    top: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 60%;
    position: absolute;
}

#five {
    top: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40%;
    position: absolute;
}

#two {
    top: 60%;
}

#three {
    top: 100%;
}

#four {
    top: 160%;
}

#five {
    top: 220%;
}

#six {
    top: 365%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 35%;
    position: absolute;
    background-color: white;
    color: black;
}
.contactUs {
    background-color: white;
    color: black;
    height: 50%;
}

#EventTitle {
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 10%;
}

#ContactTitle {
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 15%;
}

#AboutTitle {
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 15%;
}

#AboutContent{
    font-size:23px;
}

.eventImg {
    margin: 5%;
    width: 100%;
    height: 300px;
}

.motivBlock {
    width: 90%;
    margin-top: 10%;
    height: 400px;
}

.motivBlock2 {
    width: 90%;
    height: 600px;
}

.MotivTxt {
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color:#FFF;
}

#MotivTxtDiv1 {
    top: 80%;
}

#MotivTxtDiv2 {
    color: rgb(94, 125, 125);
    left:55%;
    top:65%;
}

#MotivTxtDiv3 {
    color: #D59C9C;
    top: 90%;
}

#MotivContainer {
    position: relative;
    text-align: center;
    color: white;
}
